@page "/category"

<div class="h3 text-decoration-underline text-primary">Category List</div>
<div class="align-content-end">
    <a href="category/create" class="btn btn-primary">New</a>
</div>


@code {

}
